@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

blockquote {
  color: #797979;
  font-style: italic;
  display: flex;
  margin: 30px 0px 20px;
}

blockquote p {
  padding: 10px;
  font-size: 18px;
}

blockquote:before {
  content: '';
  min-width: 5px;
  width: 5px;
  background-color: #eeeeee;
  z-index: 99;
}

p {
  margin: 10px 0px 10px;
  padding: 10px 0px 10px;
}

p h1,
p h2,
p h3 {
  margin: 20px 0px 20px;
  padding: 20px 0px 20px;
  line-height: normal;
}

pre {
  background-color: #eeeeee;
  padding: 10px 15px 10px 15px;
  width: 100%;
  overflow-x: scroll;
}

code {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

ul {
  padding: 0px 0px 0px 20px;
}
